<div class="main-container">
  <h2><%= @list.name %></h2>

  <div class="items-container">
    <ul>
      <% @items.each do |item| %>
        <li class="<%= 'done' if item.is_done %>">
          <%= check_box_tag "item_#{item.id}", item.id, item.is_done, class: '=begin  =enditem-checkbox' %>
          <%= item.description %>
          <%= link_to "X", item_path(item), method: :delete, data: { confirm: "Tem certeza de que deseja excluir este item?" }, class: "btn btn-danger btn-sm" %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Voltar para listas", lists_path, class: "btn btn-secondary" %>
  <%= link_to "Criar Novo Item", new_list_item_path(@list), class: "btn btn-primary" %>
</div>
