<div class="main-container">
  <h2 class="list-header">
    <span class="list-name"><%= @list.name %></span>
    <div class="action-buttons">
      <%= form_with url: edit_list_path(@list), method: :get, class: "inline-form", local: true do %>
        <button type="submit" class="edit-icon" title="Editar Lista">
          <i class="fas fa-pencil-alt"></i>
        </button>
      <% end %>
      <%= form_with url: list_path(@list), method: :delete, class: "inline-form", local: true do %>
        <button type="submit" class="delete-icon" data-confirm="Tem certeza que deseja excluir esta lista?" title="Excluir Lista">
          <i class="fas fa-trash-alt"></i>
        </button>
      <% end %>
    </div>
  </h2>

  <div class="items-container">
    <ul>
      <% @items.each do |item| %>
        <li class="item-row <%= 'done' if item.is_done %>" id="item_<%= item.id %>">
          <div class="item-content">
            <%= form_with url: toggle_done_list_item_path(@list, item), method: :patch, class: "inline-form", local: true do %>
              <button type="submit" class="toggle-done-icon" title="Marcar/Desmarcar">
                <% if item.is_done %>
                  <i class="fas fa-check-circle"></i>
                <% end %>
              </button>
            <% end %>
            <span class="item-description"><%= item.description %></span>
            <div class="tags">
              <% item.tags.each do |tag| %>
                <span class="tag" style="background-color: <%= tag_color(tag) %>"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
          <div class="action-buttons">
            <%= form_with url: edit_list_item_path(@list, item), method: :get, class: "inline-form", local: true do %>
              <button type="submit" class="edit-icon" title="Editar Item">
                <i class="fas fa-pencil-alt"></i>
              </button>
            <% end %>
            <%= form_with url: list_item_path(@list, item), method: :delete, class: "inline-form", local: true do %>
              <button type="submit" class="delete-icon" data-confirm="Tem certeza que deseja excluir este item?" title="Excluir Item">
                <i class="fas fa-trash-alt"></i>
              </button>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="buttons-container">
    <%= link_to "Voltar", lists_path, class: "btn btn-secondary" %>
    <%= link_to "Criar Nova Tag", new_tag_path, class: "btn btn-other" %>
    <%= link_to "Adicionar Novo Item", new_list_item_path(@list), class: "btn btn-primary" %>
  </div>
</div>
