<div class="main-container">
  <h2>Criar Nova Tag</h2>

  <%= form_with(model: @tag, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name, "Nome da Tag" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome da tag" %>
    </div>

    <div class="buttons-container">
      <%= link_to "Voltar", @list, class: "btn btn-secondary" %>
      <%= form.submit "Criar Tag", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
