<div class="main-container">
  <h2>Nova Categoria</h2>

  <%= form_with(model: @category, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name, "Nome da categoria" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome da categoria" %>
    </div>

    <div class="buttons-container">
      <%= link_to "Voltar", lists_path, class: "btn btn-secondary" %>
      <%= form.submit "Criar Categoria", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
